@charset "utf-8";
.selectType {
    display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    justify-content: center;
    .selectType__name {
        margin: .2rem 0;
        font-size: @fontSize13;
        text-align: center;
    }
    .img__size {
        width: 1.6rem;
        height: 1.8rem;
    }
}

