// initial style
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
aside,
article,
footer,
figcaption,
figure,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
	margin: 0;
	padding: 0;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 100%;
}

html {
	-webkit-overflow-scrolling: touch;
	-webkit-text-size-adjust: 100%;
	font-size: 50px;
	width: 100%;
	height: 100%;
}

body {
	font-family: 'Hiragino Sans GB', 'Hiragino Sans GB W3', Helvetica, sans-serif;
	min-width: 320px;
	-webkit-font-smoothing: subpixel-antialiased;
	width: 100%;
	height: 100%;
	font-size: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: 100%;
	font-weight: 400;
}

table {
	border-collapse: collapse;
}

caption,
th,
td {
	text-align: left;
}

ul,
ol {
	list-style: none;
}

a {
	text-decoration: none;
	color: #232326;
}

img {
	max-width: 100%;
	height: auto;
	vertical-align: middle;
	border: none;
}

i,
em {
	font-style: normal;
}

textarea {
	resize: none;
}

button,
input,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	vertical-align: middle;
	outline: none;
	-webkit-appearance: none;
}

button,
input[type="text"],
input[type="button"],
input[type="search"],
input[type="submit"],
textarea {
	-webkit-appearance: none;
}

input[type=search]::-webkit-search-cancel-button,
input[type=search]::-webkit-search-decoration {
	-webkit-appearance: none;
}
